<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>Project Transparency was an app inspired by the daily accountability provided through Setting Captives Free. 
  I personally found it very important, so I decided to make an app for it. I hope it helps you in some way. 
  Let me know if there are are additional features you would like to see by contacting me.</p>
