<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>Unfortunately, I don't have much to provide for help as of now since this site is on a back seat to the actual app, but you can contact me with any questions.</p>
